.container {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.container-desktop {
  @extend .container;

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
