.modal {
  background-color: #fff;
  color: #191919;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 2px;
  box-shadow:
    0 11px 15px -7px rgba(0 0 0 / 20%),
    0 24px 38px 3px rgba(0 0 0 / 14%),
    0 9px 46px 8px rgba(0 0 0 / 12%);
  margin: 32px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 64px);
  max-width: 600px;
  overflow: hidden;

  &__title {
    margin: 0;
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    padding: 16px 24px;
    flex: 0 0 auto;
  }

  &__content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 20px 24px;
    font-weight: 200;
    font-family: var(--font-family-text);
    font-size: 1rem;
    line-height: 1.5;
    color: #191919;
  }

  &__footer {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: flex-end;
    padding: 8px;
  }

  &.-no-padding {
    .modal__content {
      padding: 0;
    }
  }

  &.-dense {
    max-height: calc(100% - 32px);
    margin: 16px;
  }
}

.modal-overlay {
  position: fixed;
  z-index: 1300;
  inset: 0;
}

.modal-backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: rgba(0 0 0 / 50%);
  z-index: -1;
}

.modal-container {
  height: 100%;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}