{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-prettier/recommended"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "selector-class-pattern": null,
    "scss/at-extend-no-missing-placeholder": null
  },
  "files": [
    "src/*.scss",
    "src/**/*.scss"
  ]
}