{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-prettier/recommended"
  ],
  "plugins": [
    "stylelint-scss",
    "@namics/stylelint-bem"
  ],
  "rules": {
    "selector-class-pattern": null,
    "plugin/stylelint-bem-namics": {
      "patternPrefixes": [],
      "helperPrefixes": []
    }
  },
  "files": [
    "src/*.scss",
    "src/**/*.scss"
  ]
}