.header-2 {
  align-items: center;
  background-color: white;
  box-shadow: var(--shadow-primary);
  display: flex;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
  z-index: 2;

  &__button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    min-height: 44px;
    min-width: 44px;
  }
}
