.caderninho .button {
  border-radius: var(--border-radius);
  font-size: 16px;
  text-transform: lowercase;
  border: var(--border-width) solid var(--color-primary);

  svg {
    width: 16px;
    margin-right: 8px;
  }

  &.MuiButton-outlined {
    background-color: white;
    border-color: currentColor;
    border-width: var(--border-width);
    border-style: solid;
    color: var(--color-secondary-main);
    font-weight: bold;
  }
}