@use '../../styles/utils/utils';

.caderninho .section-card {
  border-radius: 2px;
  overflow: hidden;
  // border: 2px solid utils.$color-primary-main;
  background-color: utils.$color-primary-main;

  &__title {
    color: white;
    padding: 8px 0;
    margin: 0;
    font-size: 17px;
  }

  &__body {
    padding: 24px 12px;
    background-color: white;
  }
}