@use '../../../../notebook-layout/styles/themes.scss';

.layout-2 {
  // &__header,
  &__navbar,
  &__navbar > * {
    position: sticky;
    z-index: 1;
  }

  &__header {
    grid-area: layout-2__header;
    // top: 0;
  }

  &__aside {
    grid-area: layout-2__aside;
  }

  &__main {
    grid-area: layout-2__main;
  }

  &__navbar {
    grid-area: layout-2__navbar;
    bottom: 0;

    > * {
      top: 0;
    }
  }

  @media (orientation: portrait) {
    --layout-2-static-height: 0;

    &__header,
    &__navbar {
      min-height: var(--action-size);
    }

    &__main > main,
    &__main {
      min-height: calc(100dvh - var(--layout-2-static-height));
    }

    &__aside {
      display: none;
    }

    :has(&__navbar, &__header) {
      --layout-2-static-height: calc(2 * var(--action-size));
    }

    :has(&__header):not(:has(&__navbar)) {
      --layout-2-static-height: var(--action-size);
    }

    :has(&__navbar):not(:has(&__header)) {
      --layout-2-static-height: var(--action-size);
    }
  }

  @media (orientation: landscape) {
    display: grid;
    grid-template-areas:
      '. . . layout-2__header . . layout-2__navbar'
      '. layout-2__aside . layout-2__main . . layout-2__navbar';
    grid-template-columns:
      24px
      minmax(auto, 480px)
      24px
      minmax(320px, 520px)
      minmax(24px, auto)
      calc(2 * var(--bar-size))
      var(--bar-size);
    grid-template-rows: auto 1fr;
  }
  @include themes.theme-light;
}
