.recipe-register {
  &__wrapper {
    padding-bottom: 2rem;
  }

  &__story-image {
    margin-bottom: -52px;
  }

  &__submit {
    overflow: hidden;
    position: sticky;
    bottom: 0;
    box-shadow: var(--shadow-primary);

    button {
      height: 44px;
    }

    .button:not([type='submit']) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    .button[type='submit'] {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &__add-step {
    margin: 0 auto;
  }

  .layout__main {
    margin-bottom: 0;
  }
}
