// color
$color-primary-light: #D4B5A9;
$color-primary-main: #87695e;
$color-primary-dark: #947368;

$color-secondary: #191919;

$border-radius: 2px;
$border-primary: 2px dashed $color-primary-light;
$border-secondary: 2px