@use "utils/utils";
@use "base/base";
@use "components/components";
@use "helpers/helpers";

$enable-cssgrid: true;

@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-utilities";

:root {
  --font: 'Dosis, sans-serif';
  --font-display: 'Cinzel, serif';
}