@use "../../styles/utils/variables";

.caderninho .logo {
  text-align: justify;
  line-height: 0.82;
  font-size: 16px;
  white-space: nowrap;
  letter-spacing: 0;
  color: var(--color-dark-main);
  text-decoration: none;

  &__text-large {
    font-size: 17px;
    letter-spacing: 0.1;
  }

  &--active {
    text-shadow: 0 0 1px currentcolor;

    .logo__text-small {
      color: var(--color-primary-main);
    }
  }
}
