.desktop-header {
  background-color: var(--color-primary-main);
  color: white;
  bottom: 0;
  padding-bottom: 12px;
  padding-top: 12px;
  overflow: hidden;
  position: sticky;
  border-bottom-left-radius: var(--border-radius-primary);
  border-bottom-right-radius: var(--border-radius-primary);
  box-shadow: var(--shadow-primary);
}