.desktop-header {
  background-color: var(--color-primary-main);
  color: white;
  bottom: 0;
  padding-bottom: 12px;
  padding-top: 12px;
  overflow: hidden;
  position: sticky;
  border-bottom-left-radius: var(--border-radius-primary);
  border-bottom-right-radius: var(--border-radius-primary);
  box-shadow:
    0 2px 4px -1px rgb(0 0 0 / 20%),
    0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
}