.layout {
  position: relative;

  &__content {
    height: calc(100dvh - var(--header-height));
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    &::before {
      content: '';
      display: block;
      height: calc(100% - 44px);
      pointer-events: none;
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }
  }

  &__main {
    flex: 1;
    overflow: scroll;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;

    > .container {
      min-height: 100%;
    }

    &:has(+ footer) {
      height: calc(100% - 44px);
    }
  }

  .footer {
    position: relative;
    bottom: initial;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
