@use '../../styles/components/typography';

.section-title {
  @extend .h2;

  background-color: var(--color-primary-light);
  border-radius: var(--border-radius-secondary);
  color: white;
  font-size: 17px;
  mix-blend-mode: multiply;
  padding: 7px 14px;
  text-align: center;
}
