@use "../../styles/utils/variables";

.recipe-container {
  &__name {
    background-color: variables.$color-primary-main;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: variables.$color-white;
    padding: 8px 0;
    z-index: 1;
    position: sticky;
    top: 0;
  }

  &__container {
    padding-left: 8px;
    padding-right: 8px;
  }

  &__body {
    padding-bottom: 32px;
  }
}
