.notebook-tabs {
  list-style: none;
  top: 128px;
  left: calc(100% - 16px);
  position: absolute;
  display: grid;
  gap: 8px;
  z-index: -1;

  > li {
    writing-mode: vertical-lr;
    text-orientation: upright;
    background-color: white;
    border-bottom-right-radius: var(--border-radius-primary);
    border-top-right-radius: var(--border-radius-primary);
    box-shadow: var(--shadow-primary);
    padding: 8px;
    letter-spacing: -2px;
    line-height: 1;

    &.active {
      background-color: var(--color-primary-dark);
      color: white;
      font-weight: bold;
    }
  }
}