.notebook-tabs {
  list-style: none;
  top: 128px;
  left: calc(100% - 16px);
  position: absolute;
  display: grid;
  gap: 8px;
  z-index: -1;

  > li {
    writing-mode: vertical-lr;
    text-orientation: upright;
    background-color: white;
    border-bottom-right-radius: var(--border-radius-primary);
    border-top-right-radius: var(--border-radius-primary);
    box-shadow:
      0 2px 4px -1px rgb(0 0 0 / 20%),
      0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%);
    padding: 8px;
    letter-spacing: -2px;
    line-height: 1;

    &.active {
      background-color: var(--color-primary-dark);
      color: white;
      font-weight: bold;
    }
  }
}