@page "/"
@namespace server.www.Pages
@using server
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

@inject PageTitleService TitleService
@{
    var pageTitle = "Cadastro de Alimentos"; // fallback
    TitleService.OnTitleChanged += title => pageTitle = title;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@pageTitle</title>
    <base href="/" />
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss"></style>
      @@theme {
        --color-clifford: #da373d;
      }
    </style>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
