@page "/food"
@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Cadastro de Alimentos</h3>

<EditForm Model="@data" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="data">Nome:</label>
        <InputText id="data" @bind-Value="data" />
        <ValidationMessage For="@(() => data)" />
    </div>

    <button type="submit">Salvar</button>
</EditForm>

@code {
    private String data = string.Empty;

    private async Task HandleSubmit()
    {
        // Exemplo de chamada para API para salvar o alimento
        await Http.PostAsJsonAsync("api/food/Create", data);
        Navigation.NavigateTo("/");
    }
}
