.side-menu-container {
  display: flex;
  top: 0;
  position: sticky;
}

.side-menu {
  display: inline-flex;
  height: 100vh;
  min-width: 80px;
  padding: 16px;
  margin-left: auto;

  &[aria-expanded] {
    border-radius: var(--border-radius-primary) 0 0 var(--border-radius-primary);
  }
}
