.foods {
  .field,
  .section-title {
    margin-bottom: 24px;
  }

  .list {
    overflow: hidden;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    background-color: white;
    border-radius: var(--border-radius-secondary);
  }

  .list-item:first-child {
    border-top: 0;
  }

  .list-item:last-child {
    border-bottom: 0;
  }
}
