@use '../../../notebook-layout/styles/main' as *;
// Enable Bootstrap CSS Grid utilities (provides .grid, .g-col-*, .columns-*)
@use 'bootstrap/scss/bootstrap-grid' with (
  $enable-cssgrid: true
);
@use 'bootstrap/scss/bootstrap-utilities';

.columns-1 {
  --bs-columns: 1;
}

.columns-9 {
  --bs-columns: 9;
}

.columns-10 {
  --bs-columns: 10;
}

.columns-14 {
  --bs-columns: 14;
}

.columns-16 {
  --bs-columns: 16;
}

.g-col-13 {
  grid-column: auto/span 13;
}

.g-col-14 {
  grid-column: auto/span 14;
}

.g-col-15 {
  grid-column: auto/span 15;
}

.g-col-16 {
  grid-column: auto/span 16;
}

.g-0 {
  --bs-gap: 0;
}

.g-1 {
  --bs-gap: 4px;
}

.g-2 {
  --bs-gap: 8px;
}

.g-3 {
  --bs-gap: 12px;
}

.g-4 {
  --bs-gap: 16px;
}

.g-5 {
  --bs-gap: 24px;
}

.g-6 {
  --bs-gap: 32px;
}

.g-7 {
  --bs-gap: 40px;
}

.list-item {
  align-items: center;
  display: flex;
  min-height: var(--action-size);
  padding: 8px 4px;
  text-overflow: ellipsis;
  border-top: 1px solid #c7c7c7;
  width: 100%;
  text-align: left;
  mix-blend-mode: multiply;
  gap: 1rem;

  &__icon {
    color: var(--color-dark-lighter);
  }

  &__image {
    width: 26px;
  }

  &__content {
    flex: 1;
  }

  &:first-child {
    border-top: 0;
  }

  &.-active,
  &:where(button, a, [tabindex]):active,
  &:where(button, a, [tabindex]):hover {
    background-color: var(--color-light-main);
    color: var(--color-dark-darker);
    border-color: #777;
    font-weight: bold;

    + .list-item {
      border-top-color: #777;
    }

    &:first-child {
      border-top: 1px solid #777;
    }

    &:last-child {
      border-bottom: 1px solid #777;
    }

    .list-item__icon {
      color: currentcolor;
    }
  }

  &.-no-gutters {
    padding: 11px 0;
  }

  &.-no-border {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: var(--font-family-body);
  overflow: hidden;
  table-layout: fixed;
  text-align: left;
  width: 100%;
  font-size: 15px;

  &__caption {
    font-family: var(--font-family-title);
    font-size: 19px;
    padding: 11px 14px;
    text-align: center;
  }

  &__th {
    border-bottom-width: 0.5px;
    font-weight: bold;
  }

  &__td {
    border-bottom-width: 0.5px;
    font-weight: normal;
  }

  &__th,
  &__td {
    border-color: #666;
    border-style: solid;
    height: 44px;
    vertical-align: middle;

    &:first-child {
      padding-left: 6px;
    }

    &:last-child {
      padding-right: 6px;
    }
  }

  &--on-light &__th {
    border-bottom-width: 1.5px;
  }

  &--on-light &__th,
  &--on-light &__td {
    &:first-child {
      padding-left: 3px;
    }

    &:last-child {
      padding-right: 3px;
    }
  }

  &__tr:last-child .table__td {
    border-bottom-width: 0;
  }

  &--on-light {
    .table__caption {
      background-color: var(--color-primary-lighter);
      border-top-left-radius: var(--border-radius-secondary);
      border-top-right-radius: var(--border-radius-secondary);
      color: white;
      font-size: 17px;
      mix-blend-mode: multiply;
      padding: 7px 14px;
    }

    .table__tr:last-child .table__td {
      border-bottom-width: 0.5px;
    }
  }
}

// cook.svg
svg#freepik_stories-chef:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-chef.animated #freepik--background-simple--inject-64 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
svg#freepik_stories-chef.animated #freepik--Table--inject-64 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-chef.animated #freepik--Stars--inject-64 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-chef.animated #freepik--Dish--inject-64 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-chef.animated #freepik--Character--inject-64 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
svg#freepik_stories-chef.animated #freepik--Kitchen--inject-64 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// pizza.svg
svg#freepik_stories-pizza-maker:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-pizza-maker.animated
  #freepik--background-simple--inject-66 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-pizza-maker.animated #freepik--Wall--inject-66 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-pizza-maker.animated #freepik--Plant--inject-66 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-pizza-maker.animated #freepik--Character--inject-66 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-pizza-maker.animated #freepik--Table--inject-66 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
