.recipe-register {
  &__wrapper {
    padding-bottom: 2rem;
  }

  &__story-image {
    margin-bottom: -52px;
  }

  &__add-step {
    margin: 0 auto;
  }

  .layout__main {
    margin-bottom: 0;
  }
}
