.caderninho .section-title {
  background-color: var(--color-primary-main);
  border-radius: var(--border-radius);
  color: white;
  font-size: 17px;
  mix-blend-mode: multiply;
  padding: 7px 14px;
}