.app-page {
  &__body {
    display: flex;
    width: 100vw;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: calc(100vh - var(--header-height) - var(--address-bar-height));
    overflow: scroll;
  }
}

.page {
  background-image: url("/images/textures/paper-texture.png");
  backdrop-filter: contrast(1.08);
  border-bottom-left-radius: var(--border-radius-secondary);
  border-bottom-right-radius: var(--border-radius-secondary);
  box-shadow:
    0 2px 4px -1px rgb(0 0 0 / 20%),
    0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
}

.desktop-content {
  position: relative;
}