.navbar {
  --icon-size: 1.6rem;
  box-shadow: var(--shadow-primary);
  display: flex;
  justify-content: space-between;
  // for iOS
  padding-bottom: env(safe-area-inset-bottom);
  font-size: 0.75rem;
  text-transform: lowercase;

  > a,
  > button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    line-height: 1.1;
    gap: 4px;
  }

  > .button {
    max-width: initial;
  }

  > .button:not([type='submit']) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    flex: initial;
  }

  > .button[type='submit'] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    flex: 1;
  }

  &:has(> .button) {
    padding: 0;
  }

  @media (orientation: portrait) {
    border-top-left-radius: var(--border-radius-primary);
    border-top-right-radius: var(--border-radius-primary);
    height: var(--bar-size);
    padding: 0 16px;

    > a,
    > button {
      height: 100%;
      // max-width: var(--action-size);
    }
  }

  @media (orientation: landscape) {
    width: var(--bar-size);
    padding: 16px 0;
    height: 100dvh;
    flex-direction: column-reverse;

    > a,
    > button {
      width: 100%;
      min-height: var(--bar-size);
      flex-direction: column;
      text-align: center;
      padding: 8px;
    }
  }

  @media (width < 350px) {
    --icon-size: 1.5rem;
    font-size: 0.7rem;
  }
}
