.avatar {
  border-radius: var(--border-radius-primary);
  height: 80px;
  overflow: hidden;
  width: 80px;
  background-color: white;
  background-image: url('/images/decorations/chef.png');
  background-size: contain;
  border: 4px solid white;

  &__img {
    width: 100%;
  }
}
