.image {
  background-color: var(--color-primary-light);
  width: 100%;

  &__container {
    position: relative;
  }

  &__padding {
    content: "";
    display: block;
    padding-bottom: var(--image-padding-bottom);
  }

  &__img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &--transparent {
    background-color: transparent;
  }
}
