:root {
  // color
  --color-primary-light: $color-primary-light;
  --color-primary-main: $color-primary-main;
  --color-primary-dark: $color-primary-dark;
  --color-primary-weak: $color-primary-weak;

  --color-secondary-light: $color-secondary-light;
  --color-secondary-main: $color-secondary-main;
  --color-secondary-dark: $color-secondary-dark;
  --color-secondary-weak: $color-secondary-weak;

  --color-dark-light: $color-dark-light;
  --color-dark-main: $color-dark-main;
  --color-dark-dark: $color-dark-dark;
  --color-dark-weak: $color-dark-weak;

  --color-light-light: $color-light-light;
  --color-light-main: $color-light-main;
  --color-light-dark: $color-light-dark;
  --color-light-weak: $color-light-weak;

  --color-white: $color-white;
  --color-white-weak: $color-white-weak;
}