.caderninho {
  a {
    color: inherit;
    text-decoration: inherit;
  }

  img {
    width: 100%;
  }

  ul {
    padding-left: 0;
  }

  .d-none {
    display: none;
  }

  .MuiPaper-root {
    overflow: hidden;
  }
}

html {
  height: 100vh;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}